/* Let's use pseudo-elements to create a progress bar from a single element.
First, in the top .progbar selector, add the pseudo-element that will insert content after the element. */

.progbar {
  display: block;
  width: 50%;
  height: 100%;
  border-radius: inherit;
  background-color: #5ece7f;
}

.progbar {

  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: 49%;
  top: -9px;
  background-color: #7dd898;
}

.progbar {
  height: 6px;
  border-radius: 3px;
  background: #d6d7d9;
  position: relative;
  margin-bottom: 3.875em;
}