/*Next, create a new pseudo-class selector that targets the last-child li in .main-nav.
Give it a top-right and bottom-right border-radius of 5px.*/
.main-nav li:first-child {
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}