/* Finally, create a new rule that will insert a pseudo-element after an a element.
As the content value, define a CSS function that will insert an href attribute's value as content. */

.progbar::after {
  display: block;
  width: 50%;
  height: 100%;
  border-radius: inherit;
  background-color: #5ece7f;
}

.progbar::after,
.progbar::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: 49%;
  top: -9px;
  background-color: #7dd898;
}

.progbar::after {
  height: 6px;
  border-radius: 3px;
  background: #d6d7d9;
  position: relative;
  margin-bottom: 3.875em;
}

.progbar::after {
  content: "";
}

a::after {
  content: attr(href);
}