/* Base ----------- */

body {
  padding: 40px 8% 0;
  font-family: sans-serif;
}
.progbar {
  height: 6px;
  border-radius: 3px;
  background: #d6d7d9;
  position: relative;
  margin-bottom: 3.875em;
}
a {
  text-decoration: none;
  color: #222
}
a::after {
  color: tomato;
}