/*It looks like we need to decrease the space between h2 elements and the paragraph that immediately follows.
Create a new selector that targets p elements that are adjacent siblings of an h2.
Then, set the top margin to .5em.*/
.main-nav > li {
  display: inline-block;
  margin-left: 20px;
}

h2 + p {
  margin-top: .5em;
}