/* We want three floated images per row.
In the media query, create a pseudo-class selector that targets the fourth img child element first,
then every third img that follows.
Then, add a clear property that clears the left float. */

@media (min-width: 607px) {
    img {
        float: left;
    }
    img:nth-child(3n+4) {
        clear: left;
    }
}