/* Attribute Selectors ------------- */

.form-contact {
  padding: 20px 24px;
  background: #f4f7f8;
}

#container {
  max-width: 500px;
  margin: auto;
}

input[type="email"] {
  background: #fdfee6;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

a[target="_blank"] {
  color: #39add1;
  border-bottom: dotted 1px;
  text-decoration: none;
}